.navbar{
    background-color: #0b0b8f;
    @include flex2;
    padding: $spacing 10px;
    font-family: 'Nunito',sans-serif;
    li:hover{
        transform: scale(1.1);
    }
    li a:hover {
        color: $tit-color;
    };
    a{
        font-size: 700;
        color: white;
        text-decoration: none;
    }

}
